@model DSoft.AgileSprinter.Data.Models.Users

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <label asp-for="NameWithDomain" class="control-label"></label>
                <input asp-for="NameWithDomain" class="form-control" />
                <span asp-validation-for="NameWithDomain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendlyName" class="control-label"></label>
                <input asp-for="FriendlyName" class="form-control" />
                <span asp-validation-for="FriendlyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label"></label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdsyncLastUpdate" class="control-label"></label>
                <input asp-for="AdsyncLastUpdate" class="form-control" />
                <span asp-validation-for="AdsyncLastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdsyncStatus" class="control-label"></label>
                <input asp-for="AdsyncStatus" class="form-control" />
                <span asp-validation-for="AdsyncStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
