<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>

  <appSettings>
    <add key="splash_url" value="http://localhost:52868/"/>
    <add key="entity_url" value="https://docs.microsoft.com/en-us/ef/"/>
  </appSettings>
</configuration>
